* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.header{
  position: fixed;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FDD037;
  color: #FFFFFF;
  width: 110%;
}

form{
  width: 50%;
}

input {
  background-color: #FFFFFF;
  border-radius: 15px;
  border: 2px solid #0295A9;
  color: #222;
  font-size: 1.5rem;
  outline: none;
  padding: 10px 15px;
  width: 50%;
}

h1{
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  color: #12ADC1;
}

h3 {
  font-size: 2rem;
  margin-left: 2rem;
  color: #0295A9;
}

.grid-gif{
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-grid:first-child{
  margin-top: 10rem;
}

.header-grid{
  margin-top: 3rem;
  background-color: #e3e3e3;
  width: 90%;
  height: 8vh;
}

.card-grid {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.card {
  border: 2px solid #12ADC1;
  padding-top: 0rem;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  color: #0295A9;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 50%;
  height: 15vh;
}